body{
    font-family: Arial;
}

.vk{
    background-color: black;
}

.poisk{
    background-color: white;
    height: 30px;
    display: flex;
}
.logo{
    height: 10px;
    width: 13%;
    justify-content: flex-end;
}

.search{
    width: 77%;
    justify-content: flex-start;
    align-items: center;
}

.exit{
    width: 10%;
}

.profile{
    background: #ced8d9;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}

.menu{
    background-color: #ced8d9;
    width: 30%;
}

.num1{
    font-size: 15px;
    float: right;
}

.me{
    width: 15%;
    background-color: #ced8d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 150px;
    font-size: 13px;
}

.contacts{
    background-color: white;
    font-size: 13px;
}

.friends{
    background-color: white;
}

.frtwo img{
    border-radius: 100px;
}

.frthree{
    font-size: 15px;
}

.onlinefr{
    background-color: white;
}

.pht img{
    border-radius: 100px;
}

.data{
    width: 50%;
    background-color: #ced8d9;
}

.name{
    background-color: #ced8d9;
    width: 400px;
}